<footer>

    <div class="footer-content">
        <span>PREVIEW OF SPOTIFY</span>
        <p>Sign up to our newsletter</p>
    </div>

    <div class="footer-button">
        <a href="/">Sign up free</a>
    </div>
    
</footer>


<style>
    span {
        font-weight: lighter;
    }

    span, p {
        margin: 0;
        font-size: 15px;
    }
    
    .footer-button {
        background-color: white;
        padding: 8px 20px;
        border-radius: 20px;
        font-weight: bolder;
        font-size: 11px;
    }

    a {
        text-decoration: none;
        color: black;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #8954BB;
        color: white;
        padding: 10px 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    .footer-content {
        flex-grow: 1;
    }
    
    .footer-button {
        margin-left: 10px;
    }
</style>
