<nav>
    <ul>
        <div id="logo">
            <img src="../layouts/logo.svg" alt="">
        </div>
        <li><a href="/search">Search</a></li>
        <li><a href="/">Your Library</a></li>
        <li><a href="/">Create Playlist</a></li>
        <li><a href="/">Liked Songs</a></li>
    </ul>
</nav>

<style>

    nav {
        padding: 30px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 50px;
    }

    a {
        text-decoration: none;
        color: white;
    }

</style>