<header>
  <div id="logo">
    <a href="index.html"><img src="../public/home.svg" alt="Logo" /></a>
  </div>

  <button>
    <img src="../public/back-btn.svg" alt="Tilbage" />
  </button>
  <button>
    <img src="../public/forward-btn.svg" alt="Frem" />
  </button>

  <div id="button1">
    <a href="/">Sign Up</a>
  </div>
  <div id="button2">
    <a href="/">Log in</a>
  </div>
</header>

<style>
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  body {
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    color: white;
    padding: 10px 20px;
  }

  #button2 {
    background-color: white;
    padding: 1px 18px;
    border-radius: 20px;
    margin: 10px;
  }

  #button1 a {
    text-decoration: none;
    color: #7f7f7f;
    font-weight: bolder;
    font-size: 11px;
  }

  #button2 a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 11px;
  }
</style>
